#WEBPAGE {
  font-family: "Comfortaa", sans-serif;
}

.Header {
  background-color: #ffffff;
  height: 8vh;
}

#WAVE {
  display: inline-block;
  margin: 0;
  line-height: 72px;
  font-size: 40px;
  font-weight: 300;
}
#head {
  width: 167px;
  height: 61px;
  margin: auto;
  position: fixed;
  left: 44%;
}
#content {
  display: flex;
  position: relative;
}

#sideBar {
  padding: 10px 10px;
  width: 20%;
  position: fixed;
  /* background-color: whitesmoke; */
}
#sideupper {
  height: 150px;
  padding: 2%;
}
#home {
  color: var(--clr-primary);
  border-radius: 0.75rem;
}

.nav:hover {
  background: var(--clr-bg-alt);
}
.nav {
  border-radius: 0.75rem;
  font-size: 20px;
  cursor: pointer;
  width: 274px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.25rem;
}
.nav p {
  font-size: 1rem;
  margin-left: 1rem;
}

.connections {
  position: relative;
  font-size: 20px;
  padding: 2%;
}
#myconnec {
  width: 40px;
  background-color: palevioletred;
  color: white;
  display: inline;
  position: absolute;
  right: 0;
  padding: 1% 3%;
  text-align: center;
  border-radius: 15px;
}
#sidelower {
  padding: 4%;
  overflow-y: scroll;
  height: 57vh;
  overflow-y: hidden;
  overflow-x: hidden;
}
#sidelower:hover {
  overflow-y: auto;
}
.profile {
  display: flex;
  align-items: center;
  padding: 15px 5px;
  margin: 2%;
  width: 300px;
}
.profile img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
#details {
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
}
.name {
  font-size: 1rem;
  max-width: 50ch;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#connections {
  font-size: 13.3px;
}
#home-content {
  display: grid;
  grid-template-columns: 71% auto;
  grid-template-rows: 340px 50% 50%;
  grid-template-areas:
    "FILTERDIV FILTERDIV"
    "main sent"
    "main receive";
  gap: 5px;
}
#right {
  height: 88vh;
  background-color: rgb(240, 239, 239);
  position: absolute;
  right: 10px;
  width: 76%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 5px 0px 10px 5px;
}
#FILTERDIV {
  background-color: white;
  margin: 1% 1%;
  border-radius: 20px;
  padding: 1% 1%;
  grid-area: FILTERDIV;
}
#filterupper {
  display: flex;

  align-items: center;
  justify-content: center;
  width: 100%;
}
#Filters {
  font-size: 25px;
  width: 10%;
}
.textinput {
  background-color: rgb(240, 239, 239);
  border: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 80%;
  padding: 0.5rem 1rem;
}
#searchdiv {
  display: flex;
  width: 60%;
  align-items: center;
}
#search {
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0.25rem;
}
#search img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
#filterupper .name {
  margin-bottom: 0;
  color: rgb(230, 133, 149);
}
#filterlower {
  display: flex;
  padding: 5px;
}
#button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.category {
  width: 160px;
  font-weight: 600;
}
.subcategory {
  list-style: none;
  margin: auto;
  padding: 4px;
}
.subcategory li {
  margin: 4px;
}

#sent,
#receive {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 10px;
  position: sticky;
}
#sent {
  grid-area: sent;
  top: 0vh;
}
.peoples {
  overflow-y: auto;
  overflow-x: hidden;
  /* height: 37vh; */
}
.peoples:hover {
  cursor: pointer;
}
.span {
  font-weight: 550;
  font-size: large;
  position: sticky;
  top: 0;
}
#receive {
  grid-area: receive;
  top: 45vh;
}

#main {
  grid-area: main;
}
#main > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}
.pinkbutton {
  color: #ff809f;
  border: 2px solid #ff809f;
  height: 20px;
  padding: 3px 6px;
  border-radius: 6px;
  cursor: pointer;
  width: 70px;
  text-align: center;
  display: inline;
  font-size: 12px;
  margin-left: auto;
}